
.player {
  position: absolute;
  display: inline-block;
  width: 25%;
  height: 49%;
  background-color: transparent;
  vertical-align: text-bottom;
  top: 20%

}

.player-instruction{
  height: 15%;
  width: 100%;
  font-size: 17px;
  position: absolute;
  top: 50%
}

#player1{
  top: 30%;
  left: 43%;

}

#player2{
  top: 30%;
  right: 7%;
}

.player-points {
  top: 22%;
  width: 40%;
  height: 30%;
  position: absolute;
  display: block;
  background-color: darkolivegreen;
  color: white;
  font-family: Arial;
  text-shadow: 2px 1px gray;
  font-size: 20px;
  border-style: double;
  border-color: black;
  border-width: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 45px blanchedalmond;
}

.tile {
  position: relative;
  width: 100%;
  height: 32%;

}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../g7_potionexplosion/images/gameBackground3.jpg");
  opacity: 30%;
  background-position: center;
  background-size: contain;



}

.marbleDispenser {
  height: 70%;
  width: 60%;
  display: inline-block;
  top: 10%;
  position: relative;
  left: 5%;

}

.red {
  height: 9%;
  width: 50%;
  background-image: url("../g7_potionexplosion/images/redMarb.gif");
  margin: 10px auto;
  position: relative;
  border-radius: 50%;


  background-size: 73px;
  background-position-x: -11px;
  background-position-y: -6.3px;
  background-repeat:no-repeat;
  border-width: .5px;



}

.yellow {
  height: 9%;
  width: 50%;
  /* background: repeating-radial-gradient(closest-side, #56a7ca, #ebf8e1, #aa35c7); */
  background-image: url("../g7_potionexplosion/images/yellowTile2.gif");
  /* background-image: url("../g7_potionexplosion/images/yellowMarb.gif"); */
  margin: 10px auto;
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-color: blanchedalmond;
  border-width: .5px;
  background-position: center;

}

.blue {
  height: 9%;
  width: 50%;
  background-image: url("../g7_potionexplosion/images/greenMarb.gif");
  background-position: center;
  background-size: contain;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;

  border-style: solid;
  border-color: blanchedalmond;
  border-width: .5px;

}

.marble {
  box-shadow: 6px 4px 10px blanchedalmond;
}

.row {
  position: relative;
  display: inline-block;
  flex-direction: column;
  background-image: url("../g7_potionexplosion/images/aromatic-red-cedar-sealed.jpg");
  width: 10%;
  height: 100%;
  margin-left: 5px;
  border: 3px solid black;
  transform: rotateX(180deg);
  box-shadow: 10px 10px 45px blanchedalmond;
}

.potion-container {
  top: 15%;

  height: 30%;
  width: 15%;
  margin: auto;
  font-family: fantasy;
  background-color:transparent;
  position: relative;
  text-shadow: 2px 1px black;

}

.red-tile {
  box-shadow: 25px 10px 40px blanchedalmond;
  width: 6vw;
  height: 17vh;
  background-image: url("../g7_potionexplosion/images/redTile.gif");
  display: block;
  position: relative;
  margin: auto;
  border-radius: 0px 20px 0px 0px;
  top: 25%;
  left: 50%;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 3px 1px black;
  background-size: cover;
  background-position: bottom;

}

.blue-tile {
  box-shadow: 25px 10px 40px blanchedalmond;
   width: 12vw;
  height: 13vh;
  background-image: url("../g7_potionexplosion/images/greenMarb.gif");
  display: block;
  position: relative;
  margin: auto;
  border-radius: 50px 50px 70px 70px;
  top: 20%;
  right: 20%;
  text-align: center;
  font-size: 40px;
  color: white;
  background-position: center;
  background-size: contain;

}

.yellow-tile {
  box-shadow: 25px 10px 40px blanchedalmond;
   width: 16vw;
  height: 13vh;
  /* background: repeating-radial-gradient(closest-side, #56a7ca 30%, #ebf8e1 15%, #aa35c7 80%); */


  background-image: url("../g7_potionexplosion/images/yellowTile2.gif");
  display: block;
  position: relative;
  margin: auto;
  border-radius: 60px 60px 80px 80px;
  text-align: center;
  right: 70%;
  font-size: 40px;
  color: white;
  text-shadow: 3px 1px black;
  background-position: center;


}

.popAnimation{
  animation-name: pop;
  animation-duration: 2s;
}
@keyframes pop{
  0% {
    color: black;
    font-size: 1em;
  }
  33%{
    color: red;
    font-size: 1.18em;
  }
  100%{
    color: red;
    font-size: 1em;
  }
}



#smoke{
	position: absolute;
	z-index: 2;
	width: 20%; height: 23%;
  left: 50.5%; bottom: 58.5%;
  background-image: url("../g7_potionexplosion/images/smoke.gif");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-y: -30px;
}


#smoke2 {
	position: absolute;
	z-index: 2;
	width: 10%; height: 23%;
  left: 76%; bottom: 58.5%;
  background-image: url("../g7_potionexplosion/images/smoke.gif");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-y: -30px;

}

.wally{
  background-image: url("./images/wally.gif");
  height: 65%;
  width: 50%;
  position: absolute;
  z-index: 3;
  left: 0%;
  bottom: -40px;
  background-size: contain;
}

.explosion{
  background-image: url("./images/explosion.gif");
  height: 80%;
  width: 30%;
  position: absolute;

  z-index: 3;
  background-size: cover;
  background-position-x: -40px;
  background-position-y: -30px;
}

#explosion1{
  left: 44%;
  top: 30%;
}

#explosion2{
  left: 71%;
  top: 30%;
}

.hand{

  height: 10%;
  width: 10%;
  position:absolute;


}

.hand > .marble{
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 2px;
}

#hand1{
  left: 43.5%;
  top: 30%;
}

#hand2{
  left: 68.5%;
  top: 30%;
}
